body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  border-bottom: solid 1px rgb(90, 89, 78);
  margin-bottom: 20px;
}

header p {
  padding-left: 20px;
}

h1, h2 {
  padding-left: 20px;
  font-family: "Bevan", serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

.violet {
  color: rgb(186, 129, 197);
}

.green {
  color: rgb(106, 170, 100);
}

.blue {
  color: #a7d8ff;
}

.yellow {
  color: #ffda00;
}

#subheading {
  text-align: center;
}

.message {
  text-align: center;
  background-color: black;
  color: white;
  width: 200px;
  padding: 10px;
  border-radius: 6px;
}

#game-message {
  top: 125px;
  left: 50%;
  transform: translate(-50%, 0);
  position: fixed;
}

.hide {
  display: none;
}

/* CARDS */

#cards-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 8px;
  width: calc(3 * 8px + 4 * 150px);
  margin: auto;
  border: none;
}

.card {
  background-color: rgb(239, 239, 230);
  width: 150px;
  height: 80px;
  border-radius: 6px;
  justify-content: center;
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}

.selected {
  background-color: rgb(90, 89, 78);
  color: white;
}  

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 12px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 5px;
  font-size: 12px;
  font-weight: 400;
  text-transform: none;
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 75%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.blank {
  border: solid 1px black;
  border-left: none;
  background-color: white;
  text-align: center;
  width: 16px;
  height: 18px;
  font-size: 0.8em;
  text-transform: uppercase;
}

.blank:first-of-type {
  border-left: solid 1px black;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.blank:last-of-type {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.wordle .blank {
  border: solid 1px white;
  background-color: black;
  color: white;
}

.crossword .blank {
  color: black;
}

.blank.reveal {
  color: tomato;
}

/* GAME CONTROLS */

#game-controls-container {
  margin: auto;
  width: auto;
  text-align: center;
}

#mistakes-container {
  margin: auto;
  width: auto;
  text-align: center;
  padding: 20px;
}

#mistakes-container p {
  display: inline-block;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: rgb(90, 89, 78);
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
}

fieldset {
  border: none;
}

input[type=button] {
  height: 3em;  
  background-color: white;
  border-radius: 32px;
  padding: 15px;
  text-transform: capitalize;
  border: solid 1px black;
  font-size: 16px;
  cursor: pointer;
}

input[type=button]:not([disabled]):hover {
  background-color: black;
  color: white;
}

#submit-btn:not([disabled]) {
  background-color: black;
  color: white;
}

#play-again-btn {
  position: fixed;
  left: 50%;
  transform: translate(-50%);
}

/* CATEGORIES */

#categories-container {
  display: grid;
  grid-template-columns: auto;
  gap: 8px;
  width: calc(3 * 8px + 4 * 150px);
  margin: auto;
  border: none;
  margin-bottom: 8px;
}

.category {
  height: 80px;
  border-radius: 6px;
  text-align: center;
  text-transform: uppercase;
}

.category p {
  font-size: 20px;
  line-height: 6px;
}

.category p:first-child {
  padding-top: 5px;
}

.category-name {
  font-weight: 700;
}

#difficulty-1 {
  background-color: rgb(249, 223, 109);
}

#difficulty-2 {
  background-color: rgb(160, 195, 90);
}

#difficulty-3 {
  background-color: rgb(176, 196, 239);
}

#difficulty-4 {
  background-color: rgb(186, 129, 197);
}

/* PUZZLE */

#puzzle-modal {
  width: 80%;
  height: 800px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid black;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

#puzzle-modal header {
  border-bottom: none;
  margin-bottom: 0px;
}

#close-puzzle-btn {
  background-color: white;
  border-radius: 6px;
  border: none;
  float: right;
  font-size: 2em;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#puzzle-title {
  text-transform: capitalize;
}

#puzzle-message {
  margin: auto;
  margin-top: 100px;
}

/* WORDLE */

.wordle-puzzle #puzzle-container {
  margin: auto;
  margin-top: 20px;
  width: 390px;
  height: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto auto;
  row-gap: 5px;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 5px;
}
 
.tile {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  text-align: center;
  border: solid 2px rgb(211, 214, 218);
  height: 30px;
  width: 30px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.correct {
  background-color: rgb(106, 170, 100);
  border: solid 2px rgb(106, 170, 100);
  color: white;
}

.incorrect-position {
  background-color: rgb(201, 180, 88);
  border: solid 2px rgb(201, 180, 88);
  color: white;
}

.incorrect-letter {
  background-color: rgb(120, 124, 126);
  border: solid 2px rgb(120, 124, 126);
  color: white;
}

/* CROSSWORD */

.crossword-puzzle #puzzle-container {
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 60px);
}

.cell {
  background-color: white;
  border: 1px solid black;
  height: 40px;
  text-align:center;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  padding: 10px 0px;
}

.solved-cell {
  background-color: #a7d8ff;
}

#crossword-clue {
  padding-left: 20px;
}

#crossword-mistakes-container {
  padding-left: 20px;
}

#crossword-mistakes-container * {
  display: inline-block;
}

#crossword-submit-btn {
  margin: 20px;
  background-color: black;
  color: white;
  border: solid 1px white;
  width: 100px;
}

#crossword-submit-btn:disabled {
  background-color: white;
  color: rgba(0, 0, 0, 0.247);
  border: solid 1px black;
}

/* ANIMATIONS */

.bounce {
  animation: bounce 1s ease 1;
}

@keyframes bounce {
    70% { transform:translateY(0%); }
    80% { transform:translateY(-15%); }
    90% { transform:translateY(0%); }
    95% { transform:translateY(-7%); }
    97% { transform:translateY(0%); }
    99% { transform:translateY(-3%); }
    100% { transform:translateY(0); }
}

.shake {
  animation: shake 1s ease 0.5;
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #subheading {
    text-align: left;
  }

  #cards-container, #categories-container {
    width: calc(3 * 8px + 4 * 100px);
  }

  .card {
    width: 100px;
    height: 100px;
    font-size: 14px;
  }

  .tooltip .tooltiptext {
    left: 0%
  }

  .blank {
    width: 10px;
    height: 12px;
    border: solid 0.7px black;
    font-size: 0.75em;
  }

  .category p {
    font-size: 16px;
  }

  #puzzle-modal {
    min-width: 484px;
  }

  .crossword-puzzle #puzzle-container {
    grid-template-columns: repeat(auto-fill, 50px);
  }

  .cell {
    height: 40px;
    font-size: 32px;
  }

  #crossword-mistakes-container {
    padding-left: 7px;
  }

  #crossword-submit-btn {
    margin-left: 7px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #cards-container, #categories-container {
    width: calc(3 * 8px + 4 * 125px);
  }

  .card {
    width: 125px;
    height: 100px;
    font-size: 16px;
  }

  .tooltip .tooltiptext {
    left: 0%
  }

  .blank {
    width: 14px;
    height: 16px;
    border: solid 0.7px black;
    font-size: 0.8em;
  }

  .crossword-puzzle #puzzle-container {
    grid-template-columns: repeat(auto-fill, 50px);
  }

  .cell {
    height: 40px;
    font-size: 32px;
  }

  #crossword-mistakes-container {
    padding-left: 7px;
  }

  #crossword-submit-btn {
    margin-left: 7px;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #cards-container, #categories-container {
    width: calc(3 * 8px + 4 * 150px);
  }

  .card {
    width: 150px;
    height: 80px;
    font-size: 20px;
  }

  .blank {
    width: 16px;
    height: 18px;
    border: solid 1px black;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #puzzle-modal {
    max-width: 800px;
  }

  .crossword-puzzle #puzzle-container {
    grid-template-columns: repeat(auto-fill, 60px);
  }

  .cell {
    height: 40px;
    font-size: 36px;
  }
}
